head {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container-cadastro {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.lado-esq, .lado-dir {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lado-esq {
    background-color: #474747;
    color: #ffffff;
    align-items: flex-start;
    padding-left: 15%;
}

.lado-dir {
    background-color: #ffffff;
}

.btn-voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    mask-image: url('../layouts/botao_voltar.png'); ;

 }

  .pergunta-conta {
    text-align: center;
  }

  .caixa_int {

    width: 370px;
    height: 620px;
    background-color: rgb(192, 192, 192);
    display: flex;
    border:#000000 2px solid;
    box-shadow: 0 6px 14px rgba(7, 5, 5, 0.562);
    border-radius: 10px;
  }
