html, body {
  user-select: none;         /* Desabilita seleção de texto */
  caret-color: transparent;
  height: 100%;
  margin: 0;
}

.container {
  display: flex; /* ativa o flexbox */
  height: 100vh; /* altura total da tela */
}

.lado1, .lado2 {
  flex: 1; /* cada lado ocupa metade */
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
}

.lado1 {
  background-color: lightblue; /* cor para visualizar */
}

.lado2 {
  background-color: lightcoral; /* cor para visualizar */
}

